/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*==================================================
=                  TYPORGRAPHY                   =
==================================================*/

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova-soft",sans-serif;
    font-weight: 600;
    color: #54667a;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2em;
    font-weight: 600;
    color: #54667a;
}

h3 {
    font-weight: 600;
}

h4 {
    color: #fff;
}

/* css optimizations techniqutes
should be done using sass
use for anything uppercase */

.uppercase {
    text-transform: uppercase;
}

p {
    font-family: "acumin-pro",sans-serif;
    color: #54667a;
    font-size: 14px;
}

span {
    margin: 0;
    padding: 0;
}

.contact-header {
    text-align: center;
}

/*==================================================
=                  IMAGES                   =
==================================================*/

.logo {
    width: 140px;
    height: auto;
    margin: 10px 0 10px 0;
}

/*==================================================
=                  NAVIGATION                   =
==================================================*/

.we-are-simple {
    font-size: .85em;
    padding: 15px 0 5px 0;
    font-weight: 300;
}

.nav-intro {
    border-bottom: solid 1px #e1e1e1;
}

.find-out-more {
    text-transform: none;
    color: #01abff;
    font-size: 1em;
    padding-left: 0;
    font-weight: 300;
}

/* FONT AWESOME inline icon code */

.social {
    margin-top: 10px;
    vertical-align: middle;
}

.icon::before {
    color: #54667a;
    display: inline-block;
    margin: 12px 6px 0 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.contact-agent {
    font-size: .85em;
    letter-spacing: 1px;
    font-weight: 400;
    margin-left: 10px;
    background-color: #51b8f2;
    color: #fff;
    padding: 10px 20px;
    width: auto;
    float: right;
}

.navigation {
    display: inline-block;
    float: right;
    padding-top: 4px;
}

.navigation-links, .mobile-call {
    display: inline-block;
}

a {
    font-size: .9em;
    color: #54667a;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: .03em;
}

.navigation-links {
    margin: 24px 25px 0 0;
}

.mobile-call {
    margin-left: 10px;
    float: right;
}

.simple-health-number {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1em;
}

.fa-mobile {
    font-size: 3.1em;
    padding-left: 10px;
    padding-right: 10px;
}

.mobile-phone-number {
    margin-top: 13px;
    padding-left: 0;
}

.mobile-phone-number {
    float: right;
}

/*==================================================
=                  HERO                   =
==================================================*/

.jumbotron {
    background-color: #fff;
    margin: 0 0 20px 0;
    padding: 0;
    max-height: 660px;
}

.jumbotron p {
    font-size: 1.2em;
    font-weight: 300;
    margin: 20px 0 20px 0;
}

.hero-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}

.hero-body-container {
    position: absolute;
    z-index: 999;
    top: 260px;
    left: 10%;
    background: #ffffff;
    border-left: 6px solid #1e96cf;
}

.providing {
    font-family: "acumin-pro",sans-serif;
    color: #54667a;
    font-weight: 300;
    font-size: 24px;
    display: block;
}

.hero-body-header {
    position: absolute;
    left: -6px;
    top: -60px;
    background-color: #1e96cf;
    color: #fff;
    padding: 20px;
    margin-bottom: 100px;
    font-weight: 300;
    letter-spacing: .1em;
}

.hero-container-body-content {
    font-size: .9em;
    display: block;
    line-height: 1.7em;
}

.hero-cta {
    display: block;
    margin: 20px 0 10px 0;
    padding-left: 0;
    color: #1e96cf;
}

a.fa-arrow-right {
    margin-right: 6px;
    color: #1e96cf;
    padding-left: 0;
}

/*==================================================
=                  FORMS                   =
==================================================*/

.form-control {
    border: solid 1px #ccc;
    margin: 10px;
    padding: 10px;
    color: #ccc;
    font-weight: 300;
    font-size: 13px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

#message {
    width: 90%;
    max-width: 1200px;
    color: #ccc;
    font-weight: 300;
    font-size: 13px;
}

#dob {
    background-color: #54667a;
    border: none;
    margin: 0;
}

.btn-primary {
    background-color: #1e96cf;
    color: #fff;
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
}

.fa-calendar {
    margin-left: 0;
    padding-left: 0;
}

span.input-group-addon {
    padding-left: 10px;
    border-radius: 0;
    background-color: #54667a;
}

/*==================================================
=                  ABOUT                   =
==================================================*/

.about-simple-container {
    position: relative;
}

.about {

    color: #fff;
    height: auto;
    margin: 40px 0 0 0;
    padding: 30px 0 96px 0;
}

.doctor {
    position: absolute;
    z-index: 999;
    height: 550px;
    width: 430px;
    margin: auto;
    padding: 0;
    border: none;
    top: 710px;
    left: 60px;
    bottom: 0;
    right: 0;
    vertical-align: bottom;
}

.about-simple-header {
    font-family: "proxima-nova-soft",sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

.about-simple-subheader {
    font-weight: 300;
    color: #a9b6c5;
    margin-top: 30px;
}

.about-simple-subheader-right {
    margin-top: 30px;
    color: #0c689a;
}

.about-simple-content {
    font-weight: 300;
    color: #a9b6c5;
    margin-top: 20px;
    text-transform: none;
    max-width: 300px;
}

.about-simple-content-right {
    color: #ffffff;
}

.about-simple-left {
    position: relative;
    z-index: 1;
    background-color: #54667a;
    padding-left: 10%;
}

.about-simple-right {
    position: relative;
    z-index: 1;
    background-color: #51b8f2;
    padding-left: 13%;
}

.about-simple-cta-button {
    margin-top: 40px;
}

/*==================================================
=                  SIMPLE HELP                   =
==================================================*/

.simple-help {
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    border-left: 3px solid #51b8f2;
    padding-left: 10px;
}

.simple-help-header {
    font-size: 2.2em;
    font-weight: 600;
    color: #54667a;
    text-transform: uppercase;
}

.simple-help-subheader {
    font-size: 2em;
    color: #54667a;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 5px;
    margin-top: 20px;
}

.simple-help-body {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 20px;
}

.simple-quick-links {
    font-size: 1.2em;
    font-weight: 600;
    color: #54667a;
    text-transform: uppercase;
    margin-bottom: 20px;
}

ul.simple-advantages {
    font-size: 1em;
    color: #54667a;
    font-weight: 300;
    line-height: 1.85em;
}

li {
    display: block;
    margin-left: -40px;
    padding-left: 0;
}

.fa-check {
    padding-right: 10px;
}

.video-player {
    font-size: 46px;
    font-weight: 300;
    background-color: #54667a;
    padding-top: 60px;
    color: #6c85a1;
    margin: auto;
    height: 190px;
}



/*==================================================
=                  TESTIMONIALS                   =
==================================================*/

.testimonials {
    background-color: #3b4754;
    color: #fff;
}

.simple-testimonials-header {
    font-size: 1.7em;
    text-transform: uppercase;
}

.testimonials-subheader {
    color: #a9b6c5;
    text-transform: uppercase;
}

.testimonials-body {
    font-family: "acumin-pro", sans-serif;
    font-weight: 300;
    font-size: 1em;
    font-style: italic;
    color: #a9b6c5;
    margin: 40px 0;
    line-height: 1.7em;
}

.testimonials-image {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.testimonials-name {
    color: #fff;
    font-size: .8em;
    text-transform: uppercase;
    font-style: normal;
}

.fa-quote-left {
    padding: 30px 0;
    color: #1e96cf;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* --- Carousel base class
 using testimonials class name instead --- */
.carousel {

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    text-shadow: none;
    padding-top: 0;
    margin-top: 0;
    bottom: 30px;
}

.carousel-caption p {
    font-size: 1em;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 460px;
    background-color: #3b4754;
}

.carousel-control {
    opacity: .2;
    background-image: none;
}

.carousel-control:focus, .carousel-control:hover {
    opacity: .4;
}

.carousel-indicators {
    opacity: .7;
}

/*==================================================
=                  FOOTER                   =
==================================================*/

.footer {
    background-color: #54667a;
    height: 300px;
}

.footer-header {
    font-family: "acumin-pro", sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
}

.footer-content {
    font-family: "acumin-pro", sans-serif;
    font-size: .9em;
    font-weight: 300;
    margin-top: 15px;
    color: #b5c3d2;
    text-transform: uppercase;
    line-height: 1.9em;
}

/* todo fix icon addons on input forms */

.input-group-addon {
    background-color: #1e96cf;
    color: #fff;
    border: none;
    padding-left: 20px;
}



/* style footer QUICK LINKSv
-------------------------------------------------- */

ul {
    width:260px;
    margin-bottom:20px;
    overflow:hidden;
    border-top:1px solid #ccc;
}

..quick-links {text-decoration: none;}

li{
    line-height:2.5em;
    border-bottom:1px solid #ccc;
    float:left;
    display:inline;
}

#double li  { width:50%;}






/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 1.2em;
        line-height: 1.4;
    }

}

@media (min-width: 992px) {

}




/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}















/*==================================================
=           CSS DOCUMENT INFO             =
==================================================*/

/* ----
COLORS

blue - #1e96cf
gray blue - #54667a

---- */


/* todo change placehold text color - not working yet
::-webkit-input-placeholder {  WebKit, Blink, Edge
    color: #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18
    color: #909;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+
    color:    #909;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11
    color:    #909;
} */

