/* ----
TYPOGRAPHY
colors: blue - #1e96cf / gray blue - #54667a
---- */

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova-soft",sans-serif;
    color: #54667a;
}

h1 {
    font-size: 2.3em;
}

h2 {
    color: #54667a;
    font-weight: 600;
    padding: 10px 40px;
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
}

h4 {
    color: #fff;
}

p {
    font-family: "acumin-pro",sans-serif;
    color: #54667a;
    font-size: 14px;
}

a {
    color: #1e96cf;
    text-decoration: underline;
}

span {
    margin: 0;
    padding: 0;
}

.providing {
    font-family: "acumin-pro",sans-serif;
    color: #54667a;
    font-weight: 300;
    font-size: 24px;
}

.contact-header {
    text-align: center;
}

/* ----
IMAGES
---- */

.logo {
    width: 140px;
    height: auto;
}

/* ----
NAV
---- */
.we-are-simple {
    font-size: .8em;
    padding: 10px 0;
}

.intro-social {
    border-bottom: solid 1px #ccc;
}

.social {
    background-color: #ccc;
    width: 300px;
    text-align: right;
}

li .social-icons {
    display: inline-block;
    padding-right: 20px;
    margin-top: 10px;
}

.contact-agent {
    margin-top: 10px;
    display: block;
    background-color: #1e96cf;
    color: #fff;
    padding: 10px;
}

.navigation {
    display: inline-block;
    float: right;
    padding-top: 15px;
}

/* todo fix nav links correctly */
ul.navigation-links li {
    display: inline-block;
    padding-right: 50px;
}

/* ----
HERO
---- */

.hero {
    background-color: #fff;
}

.hero-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    background-color: #1b6d85;
    padding: 0;
    margin: 0;
    max-height: 500px;
}

.hero-body-header {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1e96cf;
    color: #fff;
    padding: 20px;
}

.hero-body-content {
    padding-top: 50px;
}

.hero-body-container {
    /* display: none; */
    position: absolute;
    top: 15%;
    left: 4%;
    background: #fff;
    width: auto;
    z-index: 999;
    border-left: 6px solid #1e96cf;
}

/* ----
FORM
---- */

.form-control {
    border: solid 1px #ccc;
    margin: 10px;
    padding: 10px;
    color: #ccc;
    font-weight: 300;
    font-size: 13px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

#message {
    width: 90%;
    max-width: 1200px;
    color: #ccc;
    font-weight: 300;
    font-size: 13px;
}

#dob {
    background-color: #54667a;
/* todo placeholder text color not working
color: #fff; */
}

.btn-primary {
    background-color: #1e96cf;
    color: #fff;
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
}

/* ----
ABOUT
---- */

.about {
    position: relative;
    color: #fff;
    height: 480px;
    margin: 60px 0 0 0;
    padding: 20px;
}

.doctor {
    position: absolute;
    z-index: 999;
    top: 1000px;
    left: 70px;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 430px;
    border: none;
    padding: 0;
}

.about-simple-header {
    font-family: "proxima-nova-soft",sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.about-simple-subheader {
    font-weight: 300;
    color: #a9b6c5;
    margin-top: 30px;
    text-transform: uppercase;
}

.about-simple-subheader-right {
    color: #0c689a;
}

.about-simple-content {
    font-weight: 300;
    color: #a9b6c5;
    margin-top: 20px;
    text-transform: none;
    max-width: 300px;
}

.about-simple-content-right {
    color: #ffffff;
}

.about-simple-left {
    position: relative;
    z-index: 1;
    background-color: #54667a;
    padding-left: 10%;
}

.about-simple-right {
    position: relative;
    z-index: 1;
    background-color: #51b8f2;
    padding-left: 13%;
}

.about-simple-cta-button {
    margin-top: 40px;
}

/* ----
SIMPLE help
---- */

.simple-help {
    height: 200px;
    background-color: #ffffff;
    margin: 40px 0;
    border-left: 3px solid #51b8f2;
    padding-left: 10px;
}

.simple-help-header {
    font-size: 2.2em;
    font-weight: 600;
    color: #54667a;
    text-transform: uppercase;
}

.simple-help-subheader {
    font-size: 2em;
    color: #54667a;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 5px;
    margin-top: 20px;
}

.simple-help-body {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
}

.simple-quick-links {
    font-size: 1.2em;
    font-weight: 600;
    color: #54667a;
    text-transform: uppercase;
    margin-bottom: 20px;
}

ul.simple-advantages {
    font-size: 1em;
    color: #54667a;
    font-weight: 300;
    line-height: 1.85em;
}

li {
    display: block;
    margin-left: -30px;
    padding-left: 0;
}

.glyphicon-ok {
    padding-right: 10px;
}

.video-player {
    font-size: 16px;
    font-weight: 300;
    background-color: #54667a;
    padding: 60px;
    color: #fff;
    margin: auto;
    height: 180px;
    width: 320px;
}



/* ----
Testimonials
---- */

.testimonials {
    background-color: #3b4754;
    height: 410px;
    color: #fff;
}

.simple-testimonials-header {
    font-size: 1.7em;
    text-transform: uppercase;
}

.testimonials-subheader {
    color: #a9b6c5;
    text-transform: uppercase;
}

.testimonials-body {
    font-family: "acumin-pro", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #a9b6c5;
    margin: 40px 0;
    line-height: 1.5em;
}

.testimonials-image {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.testimonials-name {
    color: #fff;
    font-size: .8em;
    text-transform: uppercase;
}

.fa-quote-left {
    padding: 30px 0;
    color: #1e96cf;
}

/* ----
Footer
---- */

.footer {
    background-color: #54667a;
    height: 300px;
}

.footer-header {
    font-family: "proxima-nova-soft", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 30px;
    color: #fff;
    text-transform: uppercase;
}

.footer-content {
    font-family: "acumin-pro", sans-serif;
    font-size: 1em;
    font-weight: 300;
    margin-top: 15px;
    color: #b5c3d2;
    text-transform: uppercase;
    line-height: 1.7em;
}









/* enable absolute positioning
 for icons in form input group */
.inner-addon {
    position: absolute;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 20px;
    pointer-events: none;
    color: #fff;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }









/* todo change placehold text color - not working yet
::-webkit-input-placeholder {  WebKit, Blink, Edge
    color: #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18
    color: #909;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+
    color:    #909;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11
    color:    #909;
} */








/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}