/* GLOBAL STYLES
-------------------------------------------------- */
/* hide number spinner code */

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*==================================================
=                  TYPOGRAPHY                   =
==================================================*/

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova-soft",sans-serif;
    font-weight: 600;
    color: #54667a;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 2.3em;
    font-weight: 600;
    color: #54667a;
    line-height: 1.15em;
}

h4 {
    color: #fff;
}

/* css optimizations techniques
should be done using sass
use for anything uppercase */


p, body {
    font-family: "acumin-pro",sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #54667a;
}

span {
    margin: 0;
    padding: 0;
}

.contact-header {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

/*==================================================
=                  IMAGES                   =
==================================================*/

.logo {
    width: 140px;
    height: auto;
    margin: 10px 0 10px 0;
}

/*==================================================
=                  NAVIGATION                   =
==================================================*/

.nav-intro {
    border-bottom: solid 1px #e1e1e1;
}

.we-are-simple {
    font-size: .85em;
    padding: 20px 0 0 0;
    font-weight: 300;
}

.find-out-more {
    text-transform: none;
    color: #1e96cf;
    font-size: 1em;
    padding-left: 0;
    font-weight: 300;
}

/* FONT AWESOME inline icon code */

.social {
    margin-left: 90px;
    margin-top: 10px;
}

.icon::before {
    color: #54667a;
    display: inline-block;
    margin: 12px 6px 0 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.contact-agent {
    float: right;
    font-size: .85em;
    font-weight: 300;
    color: #fff;
    background-color: #51b8f2;
    margin-left: 10px;
    padding: 15px 30px;
    width: auto;
}

.navigation {
    display: inline-block;
    float: right;
    padding-top: 4px;
}

.navigation-links, .mobile-call {
    display: inline-block;
}

a {
    font-size: .9em;
    color: #54667a;
    padding-left: 10px;
    text-transform: uppercase;
    letter-spacing: .03em;
}

.navigation-links {
    margin: 24px 25px 0 0;
}

.mobile-call {
    margin-left: 10px;
    float: right;
}

.simple-health-number {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1em;
}

/*==================================================
=                  ICONS                   =
==================================================*/

.fa-mobile {
    font-size: 3.1em;
    padding-left: 15px;
    padding-right: 5px;
}

.mobile-phone-number {
    margin-top: 13px;
    padding-left: 0;
    text-transform: none;
}

.mobile-phone-number {
    float: right;
}

/*==================================================
=                  HERO                   =
==================================================*/

.jumbotron {
    position: relative;
    background-color: #fff;
    margin: 0 0 20px 0;
    padding: 0;
    /*max-height: 820px; done in hero-image*/
    max-width: 1900px;
    top: 50%;
    left:50%;
    transform: translateX(-50%);
}

.jumbotron p {
    font-size: 1.2em;
    font-weight: 300;
    margin: 20px 0 20px 0;
}

.hero-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    max-height: 820px;
}

.hero-body-container {
    position: absolute;
    z-index: 999;
    top: 25%;
    left: 10%;
    background: #ffffff;
    border-left: 6px solid #51b8f2;
}

.providing {
    font-family: "acumin-pro",sans-serif;
    font-weight: 300;
    /*font-size: 1.2em;*/
    color: #54667a;
    display: block;
    margin: 30px 0 0 0;
}

.hero-body-header {
    position: absolute;
    font-weight: 300;
    background-color: #51b8f2;
    color: #fff;
    left: -6px;
    top: -60px;
    padding: 20px;
}

.hero-container-body-content {
    font-size: .9em;
    display: block;
    line-height: 1.7em;
}

.hero-cta {
    font-size: 1em;
    color: #1e96cf;
    display: block;
    margin: 30px 0;
}

.simple-help-cta {
    margin: 20px 0;
}

.hero-cta a.fa-play:hover {
    color: #ffaa20;
    text-decoration: none;
}

.hero-cta a.fa-play {
    margin-right: 16px;
    color: #51b8f2;
    padding-left: 0;
}

/*==================================================
=                  SCHEDULE FORM                   =
==================================================*/

.contact-simple-section {
    position: relative;
}

.contact-agent-header {
    font-family: "proxima-nova-soft", sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.1em;
    margin: 20px 0 20px 0;
}

.contact-agent-subheader {
    font-family: "acumin-pro", sans-serif;
    font-size: .5em;
    font-weight: 300;
    line-height: 1.1em;
    margin: 20px 0 20px 0;
}

.form-control {
    border: solid 1px #cccccc;
    margin: 10px;
    padding: 10px;
    color: #54667a;
    font-weight: 300;
    font-size: .9em;
    border-radius: 0;
    -webkit-border-radius: 0;
    height: 38px;
    /* input form remove inset shadow */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#message {
    width: 90%;
    max-width: 1200px;
    color: #54667a;
    font-weight: 300;
    font-size: 13px;
}

.btn-primary {
    font-family: "acumin-pro", sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #51b8f2;
    margin-top: 20px;
    padding: 10px 60px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
}

.fa-calendar {
    margin-left: 0;
    padding-left: 0;
}

.fa-paper-plane {
    position: relative;
}

span.input-group-addon {
    padding-left: 10px;
    border-radius: 0;
    background-color: #01abff;
}

.subscribe {
    width: 260px;
}

#fullname, #emailaddress, #phonenumber {
    width: 95%;
    margin-right: 60px;
    color: #54667a;
}

#dob {
    background-color: #3f4e5f;
    color: #8698aa;
    border: none;
    margin: 0;
}

.date-of-birth {
    margin-left: 10px;
}

#subscribe {
    background-color: #3f4e5f;
    color: #8698aa;
    border: none;
    margin: 0;
}


/*==================================================
=                  ABOUT                   =
==================================================*/

.about-simple-container {
    position: relative;
}

.about {
    color: #fff;
    height: auto;
    margin: 30px 0 0 0;
    padding: 30px 0 96px 0;
}

.doctor {
    position: absolute;
    z-index: 999;
    height: auto;
    width: 430px;
    margin: auto;
    padding: 0;
    border: none;
    top: 0;
    left: 60px;
    bottom: 0;
    right: 0;
    transform: translateY(70px);
    /* doesn't work - vertical-align: bottom; */
}

.simple-help-center {
    padding-left: 40px;
}

.about-simple-header {
    font-family: "proxima-nova-soft",sans-serif;
    font-weight: 600;
    font-size: 1.7em;
    color: #ffffff;
}

.about-simple-subheader {
    font-weight: 300;
    color: #a9b6c5;
    margin-top: 30px;
}

.about-simple-subheader-right {
    margin-top: 30px;
    color: #0c689a;
}

.about-simple-content {
    font-family: "acumin-pro", sans-serif;
    font-weight: 300;
    color: #a9b6c5;
    margin-top: 20px;
    text-transform: none;
    max-width: 320px;
}

.about-simple-content-left {
    color: #ffffff;
}

.about-simple-content-right {
    color: #d0eeff;
}

.about-simple-left {
    position: relative;
    z-index: 1;
    background-color: #54667a;
    padding-left: 10%;
}

.about-simple-right {
    position: relative;
    z-index: 1;
    background-color: #51b8f2;
    padding-left: 13%;
}

.about-simple-cta-button {
    margin-top: 40px;
}

/*==================================================
=                  SIMPLE HELP                   =
==================================================*/

.simple-help {
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 40px;
    border-left: 3px solid #51b8f2;
    padding-left: 10px;
}

.simple-help-header {
    font-size: 2.2em;
    font-weight: 600;
    color: #54667a;
    text-transform: uppercase;
}

.simple-help-subheader {
    font-size: 2em;
    color: #54667a;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 5px;
    margin-top: 20px;
}

.simple-help-body {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 20px;
    max-width: 340px;
}

.simple-quick-links {
    font-size: 1.2em;
    font-weight: 600;
    color: #54667a;
    text-transform: uppercase;
    margin-bottom: 20px;
}

ul.simple-advantages {
    font-size: 1em;
    color: #54667a;
    font-weight: 300;
    line-height: 1.85em;
}

li {
    display: block;
    margin-left: -40px;
    padding-left: 0;
}

.fa-check {
    padding-right: 10px;
}

.video-player {
    font-size: 46px;
    font-weight: 300;
    background-color: #3b4754;
    padding-top: 60px;
    color: #4d5f73;
    margin: auto;
    height: 190px;
}



/*==================================================
=                  TESTIMONIALS                   =
==================================================*/

.testimonials {
    background-color: #3b4754;
    color: #fff;
}

.simple-testimonials-header {
    font-size: 1.7em;
    text-transform: uppercase;
}

.testimonials-subheader {
    color: #a9b6c5;
    text-transform: uppercase;
}

.testimonials-body {
    font-style: italic;
    color: #a9b6c5;
    margin: 40px 0;
}

.testimonials-image {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
}

.testimonials-name {
    color: #fff;
    font-size: .8em;
    text-transform: uppercase;
    font-style: normal;
}

.fa-quote-left {
    padding: 30px 0;
    color: #1e96cf;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* --- Carousel base class
 using testimonials class name instead --- */
.carousel {

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    text-shadow: none;
    padding-bottom: 2em;
    margin-bottom: 1em;
}

.carousel-caption p {
    font-family: "acumin-pro", sans-serif;
    font-weight: 300;
    font-size: .9em;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 460px;
    background-color: #3b4754;
}

.carousel-control .glyphicon-chevron-right:before {
    font-family: FontAwesome;
    content: "\f054";
    display:block;
}

.carousel-control .glyphicon-chevron-left:before {
    font-family: FontAwesome;
    content: "\f053";
    display:block;
}

.carousel-control {
    opacity: .1;
    background-image: none;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control:focus, .carousel-control:hover {
    opacity: .3;
    background-image: none;
}

.carousel-indicators {
    opacity: .7;
}

/*==================================================
=                  FOOTER                   =
==================================================*/

.footer {
    background-color: #54667a;
    height: 360px;
}

.footer-header {
    font-family: "acumin-pro", sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #fff;
    text-transform: uppercase;
}

.footer-content {
    font-family: "acumin-pro", sans-serif;
    font-size: .9em;
    font-weight: 300;
    margin-top: 15px;
    color: #b5c3d2;
    text-transform: uppercase;
    line-height: 1.9em;
    margin-bottom: 20px;
}

.newsletter-signup-body {
    font-family: "acumin-pro", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 15px;
    color: #b5c3d2;
    text-transform: none;
    line-height: 1.7em;
    margin-bottom: 20px;
}

.hours-of-operation {
    /*float: right;*/
    padding-left: 10px;
    color: #fff;
}

.opening-hours li {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #5f7286;
}
/* todo fix icon addons on input forms */

.input-group-addon {
    background-color: #1e96cf;
    color: #fff;
    border: none;
    padding-left: 20px;
}

/* todo fix width */
.copyright {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #5f7286;
    /*width: 85%;
    margin-left: 25%;
    margin-right: 25%;*/
}

.copyright-text {
    font-size: .9em;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.designer {
    color: #51b8f2;
}



/* style footer QUICK LINKS
-------------------------------------------------- */

/*ul {
    width:260px;
    margin-bottom:20px;
    overflow:hidden;
    border-top:1px solid #ccc;
}

.quick-links {
    text-decoration: none;
}

li{
    line-height:2.5em;
    border-bottom:1px solid #ccc;
    float:left;
    display:inline;
}

#double li {
    width:50%;
}

.quick-links-list {
    text-decoration: none;
}*/






/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 1.1em;
        line-height: 1.6;
        font-weight: 300;
    }

}

@media (min-width: 992px) {

}








/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
/*@media only screen and (min-width : 320px) {

}

/!* Extra Small Devices, Phones *!/
@media only screen and (min-width : 480px) {

}

/!* Small Devices, Tablets *!/
@media only screen and (min-width : 768px) {

}

/!* Medium Devices, Desktops *!/
@media only screen and (min-width : 992px) {

}

/!* Large Devices, Wide Screens *!/
@media only screen and (min-width : 1200px) {

}*/















/*==================================================
=           CSS DOCUMENT INFO             =
==================================================*/

/* ----
COLORS

blue - #1e96cf
gray blue - #54667a

---- */


/* todo change placehold text color - not working yet
::-webkit-input-placeholder {  WebKit, Blink, Edge
    color: #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18
    color: #909;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+
    color:    #909;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11
    color:    #909;
} */

