/* ----
TYPOGRAPHY
colors: blue - #1e96cf / gray blue - #54667a
---- */

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova-soft",sans-serif;
    color: #54667a;
}

h1 {
    font-size: 2.3em;
}

h2 {
    color: #54667a;
    font-weight: 600;
    padding: 10px 40px;
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
}

h4 {
    color: #fff;
}

p {
    font-family: "acumin-pro",sans-serif;
    color: #54667a;
    font-size: 14px;
}

a {
    color: #1e96cf;
    text-decoration: underline;
}

span {
    margin: 0;
    padding: 0;
}

.providing {
    font-family: "acumin-pro",sans-serif;
    color: #54667a;
    font-weight: 300;
    font-size: 24px;
}

.contact-header {
    text-align: center;
}

/* ----
IMAGES
---- */

.logo {
    width: 140px;
    height: auto;
}

/* ----
NAV
---- */

.intro-social {
    border-bottom: solid 1px #ccc;
}

.we-are-simple {
    font-size: .8em;
    padding: 10px 0;
}

.social {
    background-color: #ccc;
}

li {
    display: inline-block;
    padding-right: 20px;
}

.navigation {
    display: inline-block;
    float: right;
    padding-top: 15px;
}

.contact-agent {
    margin-top: 10px;
    display: block;
    background-color: #1e96cf;
    color: #fff;
    padding: 10px;
}

/* ----
HERO
---- */

.hero {
    background-color: #fff;
}

.hero-image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    background-color: #1b6d85;
    padding: 0;
    margin: 0;
    max-height: 500px;
}

.hero-body-header {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1e96cf;
    color: #fff;
    padding: 20px;
}

.hero-body-content {
    padding-top: 50px;
}

.hero-body-container {
    display: none;
    position: fixed;
    top: 15%;
    left: 4%;
    background: #fff;
    width: auto;
    z-index: 999;
    border-left: 6px solid #1e96cf;
}

/* ----
FORM
---- */

.form-control {
    border: solid 1px #ccc;
    margin: 10px;
    padding: 10px;
    color: #ccc;
    font-weight: 300;
    font-size: 13px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

#message {
    width: 90%;
    max-width: 1200px;
    color: #ccc;
    font-weight: 300;
    font-size: 13px;
}

#dob {
    background-color: #54667a;
/* todo placeholder text color not working
color: #fff; */
}

.btn-primary {
    background-color: #1e96cf;
    color: #fff;
    margin-top: 10px;
    padding: 10px 40px;
    border-radius: 0;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
}

/* ----
ABOUT
---- */

.about {
    position: relative;
    color: #fff;
    height: 480px;
    margin: 60px 0 0 0;
    padding: 20px;
}

.doctor {
    position: absolute;
    z-index: 999;
    top: 1000px;
    left: 32%;
    bottom: 0;
    right: 25%;
}

.about-simple-header {
    font-family: "proxima-nova-soft",sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}

.about-simple-subheader {
    font-weight: 300;
    color: #a9b6c5;
    margin-top: 30px;
    text-transform: uppercase;
}

.about-simple-content {
    font-weight: 300;
    color: #a9b6c5;
    margin-top: 20px;
    text-transform: none;
    max-width: 300px;
}

.about-simple-left {
    position: relative;
    z-index: 1;
    background-color: #54667a;
    padding-left: 10%;
}

.about-simple-right {
    position: relative;
    z-index: 1;
    background-color: #51b8f2;
    padding-left: 13%;
}

/* ----
SIMPLE help
---- */

.simple-help {
    height: 150px;
    background-color: #f7f7f7;
}

/* ----
Testimonials
---- */

.testimonials {
    background-color: #3b4754;
    height: 200px;
    color: #fff;
}

/* ----
Footer
---- */

.footer {
    background-color: #54667a;
    height: 200px;
    color: #fff;
}



/* enable absolute positioning
 for icons in form input group */
.inner-addon {
    position: absolute;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 20px;
    pointer-events: none;
    color: #fff;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }









/* todo change placehold text color - not working yet
::-webkit-input-placeholder {  WebKit, Blink, Edge
    color: #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18
    color: #909;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+
    color:    #909;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11
    color:    #909;
} */