/* jumbotron
-------------------------------------------------- */
/* hide input number spinner code */

#health-insurance-bkgd {
    background-image: url("../imgs/hero-health-insurace-min.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.health-insurance-info {
    background-color: #ffffff;
    margin: 10px 0;
    padding: 20px;
}