/* jumbotron
-------------------------------------------------- */
/* hide input number spinner code */

#health-insurance-bkgd {
    background-image: url("../imgs/hero-health-insurace-min.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.health-insurance-info {
    background-color: #ffffff;
    margin: 20px 0;
    padding: 20px;
}

.health-insurance-body {
    margin: 20px 0 30px 0;
}

.health-insurance-sidebar {
    /*background-color: #ccc;*/
    /*margin-top: 10px;*/
    line-height: 2em;
    text-align: right;
}

.shop-health-header {
    font-size: 1.9em;
    white-space: nowrap;
    margin-bottom: 20px;
}

.health-insurance-menu {
    margin-bottom: 20px;
}

/*.shop-for-health {
    background-color: #01abff;
}*/

.shop-for-health-insurance {
    font-size: 2em;
}

.call-today {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 20px;
}