/* -----------
Typography
----------- */


p.intro {
    font-size: 14px;
    color: #606364;
    max-width: 95%;
    margin-top: 14px;
    margin-bottom: 14px;
}

.terms {
    font-size: 12px;
    color: #777;
    line-height: 1.6em;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 1100px;
}

.privacy {
    font-size: 12px;
    line-height: 18px;
    color: #97a4b2;
    margin-top: 10px;
}

label.questions {
    width: 600px;
}

.form-header {
    padding-top: 20px;
    margin-left: 20px;
}

.modal-title {
    font-size: 24px;
    color: #1b76cb;
    margin-bottom: 15px;
}

.modal-content {
    font-size: 13px;
    padding: 20px;
    color: #666;
    line-height: 20px;
    font-weight: 300;
}

/* -----------
Forms
----------- */

.personal-form {
    background-color: #dfecfa;
    padding: 30px 20px 30px 20px;
    margin-right: 30px;
    border: 1px solid #ccc;
}

.form-container {
    position: relative;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    margin-top: 60px;
}

label {
    position: relative;
    display: inline-block;
    font-weight: 400;
    /* width: 120px; */
    text-align: left;
}

label.expand-label {
    width: 120px;
}

label.questions {
    width: 58%;
    white-space: nowrap;
    margin-top: 5px;
}

label#weight-label {
    vertical-align: middle;
    /* margin-bottom: 20px; */
}

input {
    position: relative;
    padding: 5px;
    width: 70%;
    margin-bottom: 20px;
}

select {
    position: relative;
    font-size: 14px;
    margin-bottom: 20px;
    /* width: 70%; */
    height: 34px;
    padding: 5px;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

select#state,
select#gender {
    width: 70%;
}

select#heightfeet,
select#heightinches {
    width: 34%;
    display: inline-block;
}


select#DateOfBirth_Day,
select#DateOfBirth_Month {
    width: 17%;
}

select#DateOfBirth_Year {
    width: 34%;
}

option {
    padding: 5px;
    color: #777;
}


/* -----------
remove input type number arrows on desktop
----------- */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


/* -----------
target specific input types ----------- */

.radio-inline input[type=radio] {
    margin-left: -24px;
}


/* -----------
spacer serving as hr
----------- */

.spacer {
    position: relative;
    height: 10px;
    color: #111;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 0px;
    background: repeat-x;
    margin-left: 15px;
    max-width: 1030px;
}
